In [1]:
import pandas as pd
df = pd.read_csv('data/employees.csv')

In [3]:
df_sal = pd.read_json('data/salary.json')

In [5]:
df

    eno           ename    hiredate
0     1        John Doe  2020-01-15
1     2      Jane Smith  2019-03-22
2     3     Bob Johnson  2021-07-30
3     4  Alice Williams  2018-12-05
4     5   Charlie Brown  2022-05-14
5     6     Emily Davis  2021-04-12
6     7  Michael Miller  2019-09-10
7     8    Sarah Wilson  2020-11-01
8     9  David Martinez  2023-02-20
9    10    Laura Taylor  2022-08-17
10   11  James Anderson  2017-06-19
11   12    Karen Thomas  2020-10-14
12   13  Robert Jackson  2018-03-29
13   14      Mary White  2021-05-06
14   15  William Harris  2019-12-12
15   16  Patricia Lewis  2023-03-05
16   17      Daniel Lee  2022-01-23
17   18     Susan Clark  2020-09-18
18   19     George Hall  2021-11-07
19   20   Jessica Young  2022-04-25